@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Light.eot);
  src: url(fonts/GothamPro-Light.woff2) format("woff2"),url(fonts/GothamPro-Light.woff) format("woff"),url(fonts/GothamPro-Light.ttf) format("truetype"),url(fonts/GothamPro-Light.svg#GothamPro-Light) format("svg"),url(fonts/GothamPro-Light.eot?#iefix) format("embedded-opentype");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-LightItalic.eot);
  src: url(fonts/GothamPro-LightItalic.woff2) format("woff2"),url(fonts/GothamPro-LightItalic.woff) format("woff"),url(fonts/GothamPro-LightItalic.ttf) format("truetype"),url(fonts/GothamPro-LightItalic.svg#GothamPro-LightItalic) format("svg"),url(fonts/GothamPro-LightItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro.eot);
  src: url(fonts/GothamPro.woff2) format("woff2"),url(fonts/GothamPro.woff) format("woff"),url(fonts/GothamPro.ttf) format("truetype"),url(fonts/GothamPro.svg#GothamPro) format("svg"),url(fonts/GothamPro.eot?#iefix) format("embedded-opentype");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Italic.eot);
  src: url(fonts/GothamPro-Italic.woff2) format("woff2"),url(fonts/GothamPro-Italic.woff) format("woff"),url(fonts/GothamPro-Italic.ttf) format("truetype"),url(fonts/GothamPro-Italic.svg#GothamPro-Italic) format("svg"),url(fonts/GothamPro-Italic.eot?#iefix) format("embedded-opentype");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Medium.eot);
  src: url(fonts/GothamPro-Medium.woff2) format("woff2"),url(fonts/GothamPro-Medium.woff) format("woff"),url(fonts/GothamPro-Medium.ttf) format("truetype"),url(fonts/GothamPro-Medium.svg#GothamPro-Medium) format("svg"),url(fonts/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-MediumItalic.eot);
  src: url(fonts/GothamPro-MediumItalic.woff2) format("woff2"),url(fonts/GothamPro-MediumItalic.woff) format("woff"),url(fonts/GothamPro-MediumItalic.ttf) format("truetype"),url(fonts/GothamPro-MediumItalic.svg#GothamPro-MediumItalic) format("svg"),url(fonts/GothamPro-MediumItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Bold.eot);
  src: url(fonts/GothamPro-Bold.woff2) format("woff2"),url(fonts/GothamPro-Bold.woff) format("woff"),url(fonts/GothamPro-Bold.ttf) format("truetype"),url(fonts/GothamPro-Bold.svg#GothamPro-Bold) format("svg"),url(fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-BoldItalic.eot);
  src: url(fonts/GothamPro-BoldItalic.woff2) format("woff2"),url(fonts/GothamPro-BoldItalic.woff) format("woff"),url(fonts/GothamPro-BoldItalic.ttf) format("truetype"),url(fonts/GothamPro-BoldItalic.svg#GothamPro-BoldItalic) format("svg"),url(fonts/GothamPro-BoldItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Black.eot);
  src: url(fonts/GothamPro-Black.woff2) format("woff2"),url(fonts/GothamPro-Black.woff) format("woff"),url(fonts/GothamPro-Black.ttf) format("truetype"),url(fonts/GothamPro-Black.svg#GothamPro-Black) format("svg"),url(fonts/GothamPro-Black.eot?#iefix) format("embedded-opentype");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-BlackItalic.eot);
  src: url(fonts/GothamPro-BlackItalic.woff2) format("woff2"),url(fonts/GothamPro-BlackItalic.woff) format("woff"),url(fonts/GothamPro-BlackItalic.ttf) format("truetype"),url(fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic) format("svg"),url(fonts/GothamPro-BlackItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 800;
  font-style: italic
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-ultra.otf);
  src: url(fonts/GothamPro-BlackItalic.woff2) format("woff2"),url(fonts/GothamPro-BlackItalic.woff) format("woff"),url(fonts/GothamPro-BlackItalic.ttf) format("truetype"),url(fonts/GothamPro-BlackItalic.svg#GothamPro-BlackItalic) format("svg"),url(fonts/GothamPro-BlackItalic.eot?#iefix) format("embedded-opentype");
  font-weight: 800;
  font-style: italic
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('fonts/Gotham-Ultra.eot');
    src: url('fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gotham-Ultra.woff2') format('woff2'),
        url('fonts/Gotham-Ultra.woff') format('woff'),
        url('fonts/Gotham-Ultra.ttf') format('truetype'),
        url('fonts/Gotham-Ultra.svg#Gotham-Ultra') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	padding: 0;
	margin: 0;
	font-family: GothamPro;
	font-style: black;
	font-size: 10px;
	background: gray;
}

*, *::before, *::after { 
	box-sizing: border-box;
}

h1 {
	font-size: 6rem;
    text-align: center;
}

p {
   
}


.container {
    position: relative;
    width: 340px;
    margin: 10px auto 30px auto;
}

.number-five {
    position: absolute; 
    z-index: 1;
    top: 0;
}

.number-five div,  .number-five div:after {
    position: absolute;
    background: #ffffff;
}    

.top-left {
    width: 90px;
    height: 40px;
    top: 72px;
    left: 80px;
}

.top-right {
	top: 72px;
    left: 165px;
    height: 40px;
    width: 110px;
    -moz-transform: skew(-5deg);
    -webkit-transform: skew(-5deg);
    -o-transform: skew(-5deg);
	-ms-transform: skew(-5deg);
	transform: skew(-5deg);
}

.upper-left {
    width: 40px;
    height: 130px;
    top: 72px;
    left: 70px;
    -webkit-transform: skew(5deg);
    -moz-transform: skew(5deg);
    -o-transform: skew(5deg);
	-ms-transform: skew(5deg);
	transform: skew(5deg);		
}

.middle-left {
	top: 162px;
	left: 85px;
	height: 40px;
	width: 85px;
}

.middle-right {
	top: 162px;
	left: 155px;
	height: 40px;
	width: 110px;
    -webkit-transform: skew(-5deg);
    -moz-transform: skew(-5deg);
    -o-transform: skew(-5deg);
	-ms-transform: skew(-5deg);
	transform: skew(-5deg);	
}





